.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 40px;
    list-style: none;

    &__page,
    &__nav {
        border: 0;
        cursor: pointer;

        a {
            display: block;
            padding: 8px 12px;
        }
    }

    &__page--active {
        background: #285e61;
        color: white;
    }

    .previous,
    .next {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}